{% macro random_alphanumeric(len) -%}
  {{ lookup('password', '/dev/null chars=ascii_letters,digits length=' + (len|string)) | lower }}
{%- endmacro %}

{% macro unique_id(groups_len='8,4,4,12', separator='-') -%}
  {%- set groups = groups_len.split(',') -%}
  {%- set parts = [] -%}
  {%- for n in groups -%}
    {{- parts.append(random_alphanumeric(n|int)) -}}
  {%- endfor -%}
  {{- separator.join(parts) -}}
{%- endmacro %}

cloudlaunch:
    rabbitmq:
       rabbitmqErlangCookie: {{ random_alphanumeric(16) }}
    cloudlaunchserver:
      admin_password: "{{ cluster_password }}"
      postgresql:
         postgresqlPassword: "{{ cluster_password }}"
influxdb:
    setDefaultUser:
        user:
            password: {{ random_alphanumeric(16) }}
kubeprometheus:
    alertmanager:
        config:
            global:
                http_config:
                    basic_auth:
                        password: {{ random_alphanumeric(16) }}
    grafana:
        adminPassword: {{ random_alphanumeric(16) }}
        grafana.ini:
           server:
              root_url: "https://{{ cluster_hostname }}/grafana"
           auth.generic_oauth:
              auth_url: "https://{{ cluster_hostname }}/auth/realms/master/protocol/openid-connect/auth"
              token_url: "https://{{ cluster_hostname }}/auth/realms/master/protocol/openid-connect/token"
              api_url: "https://{{ cluster_hostname }}/auth/realms/master/protocol/openid-connect/userinfo"
keycloak:
    keycloak:
       password: "{{ cluster_password }}"
global:
    domain: {{ cluster_hostname }}
    keycloak_hostname: "{{ keycloak_hostname }}"
    deployment_name: "{{ cm_deployment_name }}"

{% if cm_helm_values %}
{{ cm_helm_values }}
{% endif %}
