cluster_type: KUBE_RANCHER
rancher_url: "https://{{ rancher_server }}:{{ rancher_port }}"
rancher_api_key: "{{ token }}"
rancher_cluster_id: "{{ cluster_id }}"
rancher_project_id: "{{ project_id }}"
cm_initial_cluster_data: "{{ cm_initial_cluster_data|default('') }}"
cloudlaunch:
   cloudlaunch-server:
      admin_password: "{{ rancher_password }}"
      postgresql:
         persistence:
            storageClass: "ebs-provisioner"
prometheus:
   persistence:
      storageClass: "nfs-provisioner"
keycloak:
   keycloak:
       password: "{{ rancher_password }}"
global:
   domain: "{{ rancher_server }}"
{% if cm_helm_values %}
{{ (cm_helm_values | b64decode | from_json | to_nice_yaml) if (cm_helm_values | b64decode) else "" }}
{% endif %}
