- name: Create cert-manager namespace
  command: >
    /usr/local/bin/kubectl create namespace cert-manager
  ignore_errors: true

- name: Create cert manager CRDs
  shell: /usr/local/bin/kubectl apply --validate=false -f https://github.com/cert-manager/cert-manager/releases/download/v1.9.1/cert-manager.crds.yaml

- name: Add cert manager helm repo
  shell: /usr/local/bin/helm repo add jetstack https://charts.jetstack.io
  ignore_errors: true

- name: Update Helm repos
  shell: /usr/local/bin/helm repo update

- name: Render cluster issuer template
  template:
    src: clusterissuer.yaml.j2
    dest: /tmp/clusterissuer.yaml

- name: Create cert manager cluster issuer
  shell: /usr/local/bin/kubectl apply -f /tmp/clusterissuer.yaml

- name: Helm install cert-manager
  command: >
    /usr/local/bin/helm upgrade --install cert-manager jetstack/cert-manager
    --namespace "cert-manager"
    --version "1.11.0"
    --set ingressShim.defaultIssuerName="letsencrypt-prod"
    --set ingressShim.defaultIssuerKind="ClusterIssuer"
    --set webhook.enabled=false
  ignore_errors: true
